alembic==0.8.6
amqp==1.4.9
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.23
decorator==4.0.9
Flask==0.10.1
Flask-Bower==1.2.1
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-Restless==0.17.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
futures==3.0.5
gunicorn==19.6.0
inflect==0.2.5
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
Mako==1.0.4
MarkupSafe==0.23
mimerender==0.6.0
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
python-dateutil==2.5.2
python-editor==1.0
python-mimeparse==1.5.1
pytz==2016.2
simplegeneric==0.8.1
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.0.12
traitlets==4.2.1
Werkzeug==0.11.5
WTForms==2.1
