{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
       makeDashboard();
    });
    </script>
{% endblock %}


{% block style %}
    <style>
    #page-loader {
        position: absolute; top: 200px;
        left: 0; right: 0;
        margin-left: auto; margin-right: auto;
        width: 196px; height: 196px;
        background-image: url('{{ url_for('static', filename='img/ring-alt.svg') }}');
    }

    .datepicker-days .has-data {
        background-color: yellow;
    }

    #date-selector {
        border-bottom: dotted 1px #ccc;
        padding: 0;
        display: flex;
    }
    #date-selector label {
        font-weight: bold;
    }
    #date-selector .date-choice {
        flex: 1 1;
        text-align: center;
        padding: 5px;
    }
    #date-selector .date-choice.selected {
        border-bottom: solid 5px #7ebaf2;
        background: #eee;
    }
    #date-selector .date-choice.selected a {
        font-weight: bold;
    }

    .dash {
        display: flex;
        flex-direction: column;
    }
    .dash .dash-panel {
        margin: 10px;
        padding: 10px;
        {# background: #ccc; #}
    }
    .timeline-summary-row {
        display: flex;
        flex: 0 0 350px;

        border-bottom: dotted 1px #ccc;
        padding: 5px;
        padding-bottom: 10px;
    }
    .points-timeline {
        flex: 1 1;
        align-self: flex-end;
        justify-content: flex-end;
    }
    .interval-summary {
        flex: 0 0 350px;
        align-self: center;
        text-align: center;
    }
    .interval-details {
        flex: 1 1;
    }

    /* d3timeline styles */
    #timeline svg {
        overflow: visible;
    }
    .axis path, .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }
    .axis text {
      font-family: sans-serif;
      font-size: 10px;
    }
    .timeline-label {
      font-family: sans-serif;
      font-size: 12px;
      margin-left: -300px;
    }
    .coloredDiv {
      height:20px; width:20px; float:left;
    }

    #time_usage_chart svg {
        overflow: visible;
    }
    </style>
{% endblock %}

{% block content %}
    <div id="date-selector">
    </div>

    <div id="dash-root"></div>

    <div class="dash">
        <div id="page-loader" style="display: none;"></div>

        <div class="timeline-summary-row">
            <div class="dash-panel points-timeline" style="padding: 0px; height: 300px; overflow-y: auto; overflow-x: hidden;">
                <!-- this is some kind of visualization of accesses to different services over time -->
                <div id="timeline"></div>
            </div>
            <div class="dash-panel interval-summary">
                <!-- this is a viz, possibly pie chart, that shows the proportion of services accessed (optionally including downtime) -->
                <div id="time_usage_chart"></div>
            </div>
        </div>

        <div class="dash-panel interval-details">
            <!-- this is a large table of every access in the selected region and its details -->
            <div style="margin: 20px;">
                <table id="access_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Hostname</th>
                            <th>Server Name Indicator</th>
                            <th>Protocol</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}